.files-container {
    display: none;
}
.files-container.active {
    display: initial;
    scroll-behavior: smooth;
}
.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
}